.vertical-center {
	height: 35px;
	display: flex;
	align-items: center
}
.login-background{
    background-color: #1abc9c;
}
body{
    padding-top: 30px;
}
hr.divider{
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
}
.to-bottom{
    margin-top: 35px;
}
@media screen and (min-width: 1200px) {
    .to-left{
    	margin-left: -60px;
    }

    #middleName{
    	margin-left: -100px;
    }
    #label-middleName{
    	margin-left: -10px;
    }
    #lastName{
    	margin-left: -160px;
    }
    #label-lastName{
    	margin-left: -50px;
    }
}